$primary: #edc951;
$secondary: #8b72b6;

$navbar-padding-y: 1.5rem;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-light-hover-color: $secondary;

$btn-padding-x: 1.5rem;
$btn-padding-y: 0.8rem;
$btn-font-weight: 600;

$headings-font-weight: 700;

$lead-font-size: 1.4rem;
$lead-font-weight: normal;

$text-muted: #9a9a9a;

$offcanvas-horizontal-width: 100%;
